/* My Notes =>
Open+Sans {400}
Raleway {400,700}
*/
:root {
  --color-very-dark-blue: hsl(243, 87%, 12%);
  --color-desaturated-blue: hsl(238, 22%, 44%);
  --color-bright-blue: hsl(224, 93%, 58%);
  --color-moderate-cyan: hsl(170, 45%, 43%);
  --color-light-grayish-blue: hsl(240, 75%, 98%);
  --color-light-gray: hsl(0, 0%, 75%);
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--color-very-dark-blue);
}

.family-raleway {
  font-family: "Raleway", sans-serif;
}

.font-bold {
  font-weight: 700;
}

.font-regular {
  font-weight: 400;
}

.text-align {
  text-align: center;
}

@media (min-width: 800px) {
  .text-align {
    text-align: left;
  }
}

.color-white {
  color: #eee !important;
  max-width: 450px;
}

.heading-1 {
  font-size: 2.75rem;
  font-weight: 700;
  color: var(--color-very-dark-blue);
  line-height: 1.5;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-very-dark-blue);
  line-height: 1.5;
}

@media (min-width: 700px) {
  .paragraph {
    font-size: 1.45rem;
  }
}

.start-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.start-section__input {
  padding: 1.4rem 2.1rem;
  border-radius: 5px;
  border: 1px solid #7a7880;
  font-size: 1.5rem;
}

@media (min-width: 700px) {
  .start-section__input {
    padding: 1.2rem 1.75rem;
    font-size: 1.4rem;
    max-width: 325px;
  }
}

.start-section__input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 3px 3px rgba(72, 93, 247, 0.25);
          box-shadow: 0 0 3px 3px rgba(72, 93, 247, 0.25);
}

.start-section__input::-webkit-input-placeholder {
  color: var(--color-light-gray);
}

.start-section__input:-ms-input-placeholder {
  color: var(--color-light-gray);
}

.start-section__input::-ms-input-placeholder {
  color: var(--color-light-gray);
}

.start-section__input::placeholder {
  color: var(--color-light-gray);
}

.start-section__btn {
  background-color: var(--color-bright-blue);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1.4rem 2.1rem;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  font-size: 1.45rem;
}

@media (min-width: 700px) {
  .start-section__btn {
    padding: 1.2rem 1.75rem;
    font-size: 1.35rem;
    max-width: 200px;
  }
}

.start-section__btn:hover {
  background-color: #7696fd;
}

@media (min-width: 800px) {
  .start-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .start-section__input {
    width: 350px;
  }
  .start-section__btn {
    width: 250px;
  }
}

.margin-container {
  margin: 10rem auto;
}

.padding-container {
  padding: 6rem 0;
  margin-right: auto;
  margin-left: auto;
}

.width-container {
  width: 90%;
  max-width: 1300px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5rem auto;
}

@media (max-width: 375px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
  }
}

.nav__logo {
  width: 120px;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

@media (min-width: 700px) {
  .nav__links {
    gap: 4rem;
  }
}

.nav__links li a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--color-bright-blue);
          text-decoration-color: var(--color-bright-blue);
  text-decoration-thickness: 2px;
}

.text-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.image-section {
  height: 335px;
}

@media (min-width: 900px) {
  .image-section {
    height: 400px;
  }
}

.image-section__img-1 {
  background: url(../images/illustration-1.svg);
}

.image-section__img-2 {
  background: url(../images/illustration-2.svg);
}

.image-section__img {
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.clickable-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  color: var(--color-moderate-cyan);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  -webkit-transition: gap 0.5s;
  transition: gap 0.5s;
}

@media (min-width: 700px) {
  .clickable-text {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.clickable-text svg {
  position: relative;
  top: 2px;
}

.clickable-text:hover {
  color: #82d8c4;
  gap: 10px;
}

.customer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  word-spacing: 3px;
  font-size: 1.3rem;
  line-height: 1.5;
  width: 100%;
  max-width: 350px;
  margin: 3rem auto;
  background-color: #fff;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
  border-radius: 7px;
  padding: 2.5rem;
}

@media (min-width: 700px) {
  .customer-card {
    margin: 3rem 0;
  }
}

.customer-card__bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin-top: 0.6rem;
}

.customer-card__bio img {
  width: 38px;
  border-radius: 50%;
}

.customer-card__bio .bio__names h4 {
  font-size: 1.25rem;
}

.customer-card__bio .bio__names p {
  font-size: 1.1rem;
}

.section-2 {
  background-color: #f9f7fe;
  position: relative;
  margin-top: 15rem;
  padding-bottom: 5rem;
}

.section-2 .margin-container {
  margin-top: 0;
  margin-bottom: 0;
}

.section-2 .curve-background {
  width: 100%;
  position: relative;
  top: -42px;
}

@media (min-width: 700px) {
  .section-2 .curve-background {
    display: none;
  }
}

.section-2 .curve-background-desktop {
  width: 100%;
  position: relative;
  top: -50px;
}

@media (max-width: 699px) {
  .section-2 .curve-background-desktop {
    display: none;
  }
}

.section-3 {
  background-color: #5a5887;
}

.section-3 .start-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 700px) {
  .section-3 .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.5rem;
}

@media (min-width: 700px) {
  .section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section > *:not(.start-section) {
    width: 50%;
    max-width: 600px;
  }
}

.footer {
  background-color: #13003d;
  color: #eee;
  font-size: 1.4rem;
}

.footer .contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 700px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-logo {
  margin-bottom: 1.5rem;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 700px) {
  .col {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col-4 i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  padding: 14px 13px 12px 13px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #fff;
  -webkit-transition: border-radius 0.4s;
  transition: border-radius 0.4s;
}

.col-4 i:hover {
  border-radius: 0;
}
/*# sourceMappingURL=style.css.map */